<link rel="stylesheet" href="/css/signin.css" />

<h1> Faculty Sign In</h1>

<form action="/users/create-session" method="POST">
  <input type="email" name="email" placeholder="Email" required />
  <input type="password" name="password" placeholder="Password" required />

  <input type="submit" value="Sign In" />
</form>


<div class="stud">To login as a Student, click below</div>
<div><p><a class="a-class" href="https://codeial-placement.onrender.com/">SignIN</a> </p></div>