.home-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 250px;
  margin-top: 50px;
}
#students-all {
  border-left: 1px solid black;
  padding-left: 100px;
  margin-right: 150px;
}
#form-div {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}
#input-email {
  margin-top: 10px;
}
#input-college {
  margin-top: 10px;
}
#input-batch {
  margin-top: 10px;
}
input {
  width: 250px;
  height: 30px;
}

#input-add {
  margin-top: 10px;
  background-color: green;
  color: white;
  width: 100px;
  height: 30px;
  margin-left: 130px;
}
#input-add:hover {
  cursor: pointer;
  color: black;
}
.check-login {
  margin-left: 40%;
  margin-top: 200px;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: gray;
}
.a-class {
  margin-left: 70px;
  text-decoration: none;
  color: red;
}
.a-class:hover {
  cursor: pointer;
  text-decoration: underline;
}
