h1 {
  color: #333;
  margin-left: 480px;
}

form {
  display: inline-block;
  background-color: #686666;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  margin-left: 250px;
}

input[type="email"],
input[type="password"] {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.stud{
  margin-left: 35%;
  margin-top: 50px;
  font-size: x-large;
  font-weight: bold;
}
.a-class{
  margin-left: 45%;
  color: red;
  font-size: large;
  text-decoration: none;
  font-weight: bold;
}
.a-class:hover{
  text-decoration: underline;
}