body{
    background-color: rgb(108, 143, 143);
}
button{
    background-color: red;
    color: white;
    width: 120px;
    height: 30px;
    margin-top: 20px;
    margin-left: 500px;
}
button:hover{
    cursor: pointer;
    color: black;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: white;
}
p{
    margin-left: 20px;
}
.update-btn{
    margin-left: 10px;
    background-color: green;
}
.score-p{
    margin-left: 80px;
}
.interview-p{
    margin-left: 80px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 5px;
    width:400px;
    height:70px;
}
.pass {
    color: green;
  }
  
  .fail {
    color: red;
  }
  .bold-id{
    font-weight: 550;
  }
  .interview-p div{
    margin-left: 10px;
  }